@import "./title";

html, body {
    height: 100%;
}

#react-app {
    min-height: 100%;
}

.container-fluid {
    background-color: dimgrey;
    min-height: 100%;
    align-items: top;
    justify-content: left;
    flex-direction: row;
}

.card-group > .card {
    flex: 20% !important;
    max-width: 20% !important;
}
